@model WeatherFinder.Models.WeatherForecast
@{
    ViewData["Title"] = "Home Page";
}

<style>
    hr {
        background: aqua !important;
    }

    .card {
        padding: 20px;
        margin: 5px;
        color: black;
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .card-text {
        font-size: 1.2em;
    }

    h6 {
        text-align: right;
    }
</style>

<div class="text-center">
    <br />
    <h1>
        Welcome  to the one & only
    </h1>
    <br />
    <h1 class="display-3">
        <span style="font-family:Algerian">WeatherFinder.WebApp</span>
    </h1>
    <br />
    <br />
    <h3>  Enjoy clicking around ;)</h3>
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<br />
<br />
<div class="text-center">
    @if (Model == null)
    { 
    <form asp-controller="Home" asp-action="Index" method="Get">
        <h1>
            City :
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </h1>
    </form>
    <br />
    <hr />
    }
    else
    {
    <div style="width:20%; margin: auto;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">City: @Model.City</h4>
                <hr />
                <p class="card-text">
                    <a href="#" class="card-link">Summary: </a>@Model.Summary
                </p>
                <p class="card-text">
                    <a href="#" class="card-link">TemperatureC: </a>@Model.TemperatureC
                </p>
                <p class="card-text">
                    <a href="#" class="card-link">Humidity: </a>@Model.Humidity %
                </p>
                <p class="card-text">
                    <a href="#" class="card-link">Pressure: </a>@Model.Pressure mb
                </p>
                <p class="card-text">
                    <a href="#" class="card-link">Wind: </a>@Model.Wind km/h
                </p>
                <hr />
                <h6 class="card-subtitle mb-2 text-muted">
                    <a href="#" class="card-link"> Date: @Model.Date </a>
                </h6>
            </div>
        </div>
    </div>
    }
</div>
