@model ITGigs.ITGigService.Domain.Models.ITGig

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ITGig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Performer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Performer.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venue.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
